// * Component
.u-txt-navi {
  font-family: $base--navi--font-family;
  font-size: $base--navi--font-size;
  font-style: $base--navi--font-style;
  font-weight: $base--navi--font-weight;
  letter-spacing: $base--navi--letter-spacing;
  line-height: $base--navi--line-height;
  text-transform: $base--navi--text-transform;
  // color: $txt-navigation--text--color;
  margin: 0;
}
