p {
  $base--body--font-family: 'Poppins', sans-serif;
  $base--body--font-size: 1.8rem;
  $base--body--font-style: inherit;
  $base--body--font-weight: 700;
  $base--body--letter-spacing: inherit;
  $base--body--line-height: inherit;
  $base--body--text-transform: inherit;
  //   color: $text--p--color;
  margin: 0;
}
